name: Deploy Company Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy using Docker Compose
      run: |
        docker-compose down
        docker-compose up -d --build
